// -----------Colors-----------
$primary-color: black;
$secondary-color: #3b62b1;

$background-primary-color: white;
$background-secondary-color: rgba(59, 98, 196, 0.8);
$background-secondary-light-color: rgba(59, 98, 196, 0.05);
